body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
  text-align: center;
}

#cabecera {
  background-color: #282c34;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 70px;
  animation: App-logo-spin infinite 20s linear;
}

.mensaje {
  color: #61dafb;
  margin-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#buscador {
  margin: 20px;
}

#buscador #titulo {
  width: 100%;
  justify-content: center;
  gap: 30px;
}
 
#buscador #info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  gap: 10px;
}

#resultados {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-left: 20px;
}

#resultados #timezone {
  width: 50%;
}

#resultados #titulo {
  width: 100%;
  justify-content: left;
}	

#resultados li {
  list-style-type: none;
  border: 1px solid #ccc;
  padding: 10px;
}

#resultados li p img {
  width: 80px;
  height: 80px;
}

